.float-right {
    float: right;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.flex-gap {
    display: flex;
    gap: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.gray-text {
    color: gray;
    text-align: center;
}