.search-container {
    position: relative;
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-input-container {
    position: relative;
    width: 400px;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 16px;
    font-size: 16px;
    border-radius: 999px;
    border: 1px solid #ccc;
    outline: none;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: #e8174bff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.search-icon {
    color: white;
}

.error-message {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 6px;
    background-color: #f8d7da;
    color: #842029;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.875rem;
    width: 400px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    z-index: 1000;
}